.idea/*
*.iml
target

AuthenticationServer/target

Configuration/target

EurekaServer/target

Gateway/target

generator/target

HystrixDashboard/target

ImageMagik/target

PreApiServer/target

ProductEvaluation/target