<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhzk.pe.mapper.EvaluationStandardScopeCustomMapper">
    <resultMap id="EvaluationStandardScopeDataMap" type="com.qhzk.pe.data.EvaluationStandardScopeData"
               extends="com.qhzk.pe.mapper.BaseDataMapper.BaseDataMappingColumn">
        <result column="standardid" jdbcType="BIGINT" property="standardid"/>
        <result column="scopecode" jdbcType="VARCHAR" property="scopecode"/>
        <result column="scopename" jdbcType="VARCHAR" property="scopename"/>
    </resultMap>
    <sql id="MyTableColumn">
    standardid,scopecode,scopename
    </sql>
    <select id="countEvaluationStandardScopePageInfo" parameterType="java.lang.String" resultType="java.lang.Long">
        select count(*) from t_pe_evaluation_standard_scope where pkid is not null
        <if test="value.standardid != null">
            and standardid like CONCAT('%', #{ value.standardid ,jdbcType=BIGINT } ,'%')
        </if>
        <if test="value.scopecode != null">
            and scopecode like CONCAT('%', #{ value.scopecode ,jdbcType=VARCHAR } ,'%')
        </if>
        <if test="value.scopename != null">
            and scopename like CONCAT('%', #{ value.scopename ,jdbcType=VARCHAR } ,'%')
        </if>
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryCondition"/>
    </select>
    <select id="queryEvaluationStandardScopePageInfo" parameterType="java.lang.String" resultMap="EvaluationStandardScopeDataMap">
        select
        <include refid="MyTableColumn"/>
        ,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryColumn"/>
        from t_pe_evaluation_standard_scope
        where pkid is not null
        <if test="value.standardid != null">
            and standardid like CONCAT('%', #{ value.standardid ,jdbcType=BIGINT } ,'%')
        </if>
        <if test="value.scopecode != null">
            and scopecode like CONCAT('%', #{ value.scopecode ,jdbcType=VARCHAR } ,'%')
        </if>
        <if test="value.scopename != null">
            and scopename like CONCAT('%', #{ value.scopename ,jdbcType=VARCHAR } ,'%')
        </if>
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryCondition"/>
        order by createtime desc
        <if test="page != null">
            <if test="page.start != null and page.pageSize != null">
                limit #{page.start},#{page.pageSize}
            </if>
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="EvaluationStandardScopeDataMap">
        select
        <include refid="MyTableColumn"/>
        ,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryColumn"/>
        from t_pe_evaluation_standard_scope where pkid =  #{pkid,jdbcType=BIGINT} and isdelete ="N"
    </select>

    <update id="deleteLogicByPrimaryKey" parameterType="java.lang.Long">
        UPDATE t_pe_evaluation_standard_scope SET `isdelete` = 'Y' WHERE `pkid` = #{pkid,jdbcType=BIGINT}
    </update>

    <update id="batchUpdateValues" parameterType="java.util.List">
        <foreach collection="values" item="value" index="index" separator=";">
            UPDATE t_pe_evaluation_standard_scope
            <set>
                <if test="val.standardid != null">
                    standardid =#{ value.standardid ,jdbcType=BIGINT},
                </if>
                <if test="val.scopecode != null">
                    scopecode =#{ value.scopecode ,jdbcType=VARCHAR},
                </if>
                <if test="val.scopename != null">
                    scopename =#{ value.scopename ,jdbcType=VARCHAR},
                </if>
                <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataBatchModifyColumn"/>
            </set>
            WHERE pkid = #{value.pkid,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsertValues" parameterType="java.util.List">
        INSERT INTO t_pe_evaluation_standard_scope(
        standardid,
        scopecode,
        scopename,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumn"/>
        )
        VALUES
        <foreach collection="values" item="value" index="index" separator=",">
            (
            #{ value.standardid ,jdbcType=BIGINT },
            #{ value.scopecode ,jdbcType=VARCHAR },
            #{ value.scopename ,jdbcType=VARCHAR },
            <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataBatchInsertColumnValue"/>
            )
        </foreach>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.qhzk.pe.data.EvaluationStandardScopeData">
        UPDATE t_pe_evaluation_standard_scope
        <set>
            <if test="standardid != null">
                standardid =#{ standardid ,jdbcType=BIGINT},
            </if>
            <if test="scopecode != null">
                scopecode =#{ scopecode ,jdbcType=VARCHAR},
            </if>
            <if test="scopename != null">
                scopename =#{ scopename ,jdbcType=VARCHAR},
            </if>
            <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataModifyColumn"/>
        </set>
        WHERE pkid =  #{pkid,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.qhzk.pe.data.EvaluationStandardScopeData" useGeneratedKeys="true" keyProperty="pkid">
        INSERT INTO t_pe_evaluation_standard_scope(
        standardid,
        scopecode,
        scopename,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumn"/>
        )
        VALUES
        (
        #{ standardid ,jdbcType=BIGINT },
        #{ scopecode ,jdbcType=VARCHAR },
        #{ scopename ,jdbcType=VARCHAR },
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumnValue"/>
        )
    </insert>

    <delete id="deleteRealByPrimaryKey" parameterType="java.lang.Long">
        delete from t_pe_evaluation_standard_scope where pkid =  #{pkid,jdbcType=BIGINT}
    </delete>

    <update id="batchLogicDeleteInfo" parameterType="java.lang.String">
        UPDATE t_pe_evaluation_standard_scope SET `isdelete` = 'Y' WHERE `pkid`
        IN (
        <foreach collection="infos" item="infoid" index="index" separator=",">
            #{infoid,jdbcType=BIGINT}
        </foreach>
        )
    </update>

    <delete id="batchRealDeleteInfo" parameterType="java.lang.String">
        delete from t_pe_evaluation_standard_scope where pkid
        IN (
        <foreach collection="infos" item="infoid" index="index" separator=",">
            #{ infoid,jdbcType=BIGINT }
        </foreach>
        )
    </delete>
</mapper>
