<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhzk.pe.mapper.EvaluationStandardCustomMapper">
    <resultMap id="EvaluationStandardDataMap" type="com.qhzk.pe.data.EvaluationStandardData" extends="com.qhzk.pe.mapper.BaseDataMapper.BaseDataMappingColumn">
        <result column="standardcode" jdbcType="VARCHAR" property="standardcode" />
        <result column="standardname" jdbcType="VARCHAR" property="standardname" />
        <result column="standardtype" jdbcType="VARCHAR" property="standardtype" />
        <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
        <result column="standardversion" jdbcType="DECIMAL" property="standardversion" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <association property="method" column="pkid" javaType="com.qhzk.pe.data.EvaluationStandardMethodologyData"
                     select="getstandardmethodbysid"></association>
        <collection property="items" column="pkid" ofType="com.qhzk.pe.data.EvaluationStandardItemData"
                    select="getstandarditembysid" />
        <collection property="scopes" column="pkid" ofType="com.qhzk.pe.data.EvaluationStandardScopeData"
                    select="getstandardscopebysid" />
    </resultMap>
    <resultMap id="EvaluationStandardItemDataMap" type="com.qhzk.pe.data.EvaluationStandardItemData"
               extends="com.qhzk.pe.mapper.BaseDataMapper.BaseDataMappingColumn">
        <result column="standardid" jdbcType="BIGINT" property="standardid" />
        <result column="parentid" jdbcType="VARCHAR" property="parentid" />
        <result column="itemid" jdbcType="BIGINT" property="itemid" />
        <result column="groupid" jdbcType="BIGINT" property="groupid" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="itemcode" jdbcType="VARCHAR" property="itemcode" />
        <result column="itemname" jdbcType="VARCHAR" property="itemname" />
        <result column="datatype" jdbcType="INTEGER" property="datatype" />
        <result column="upperlimit" jdbcType="DECIMAL" property="upperlimit" />
        <result column="lowerlimit" jdbcType="DECIMAL" property="lowerlimit" />
        <result column="defaultvalues" jdbcType="VARCHAR" property="defaultvalues" />
        <result column="scoreinterval" jdbcType="DECIMAL" property="scoreinterval" />
        <result column="sequencing" jdbcType="INTEGER" property="sequencing" />
        <collection property="childs" column="itemcode" ofType="com.qhzk.pe.data.EvaluationStandardItemData"
                    select="getstandarditemchildsbysid" />
    </resultMap>

    <resultMap id="EvaluationStandardScopeDataMap" type="com.qhzk.pe.data.EvaluationStandardScopeData"
               extends="com.qhzk.pe.mapper.BaseDataMapper.BaseDataMappingColumn">
        <result column="standardid" jdbcType="BIGINT" property="standardid" />
        <result column="scopecode" jdbcType="VARCHAR" property="scopecode" />
        <result column="scopename" jdbcType="VARCHAR" property="scopename" />
    </resultMap>
    <resultMap id="EvaluationStandardMethodologyDataMap" type="com.qhzk.pe.data.EvaluationStandardMethodologyData" extends="com.qhzk.pe.mapper.BaseDataMapper.BaseDataMappingColumn">
        <result column="standardid" jdbcType="BIGINT" property="standardid" />
        <result column="methodologycode" jdbcType="VARCHAR" property="methodologycode" />
        <result column="methodologyname" jdbcType="VARCHAR" property="methodologyname" />
    </resultMap>
    <sql id="MyTableColumn">
      standardcode,standardname,standardtype,createdate,standardversion,status
    </sql>
    <!--评价标准-->
    <select id="countEvaluationStandardPageInfo"  parameterType="java.lang.String" resultType="java.lang.Long">
        select count(*) from t_pe_evaluation_standard where  pkid is not null
        <if test="value.standardname != null">
            and standardname like  CONCAT('%',#{value.standardname,jdbcType=VARCHAR} ,'%')
        </if>
        <if test="value.standardtype != null">
            and standardtype = #{value.standardtype,jdbcType=VARCHAR}
        </if>
        <if test="value.standardversion != null">
            and standardversion = #{value.standardversion,jdbcType=DECIMAL}
        </if>
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryCondition"/>
        and isdelete ="N"
    </select>
    <select id="queryEvaluationStandardPageInfo"  parameterType="java.lang.String" resultMap="EvaluationStandardDataMap">
        select
        <include refid="MyTableColumn"/>
        ,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryColumn"/>

        from t_pe_evaluation_standard
        where  pkid is not null
        <if test="value.standardname != null">
            and standardname like  CONCAT('%',#{value.standardname,jdbcType=VARCHAR} ,'%')
        </if>
        <if test="value.standardtype != null">
            and standardtype = #{value.standardtype,jdbcType=VARCHAR}
        </if>
        <if test="value.standardversion != null">
            and standardversion = #{value.standardversion,jdbcType=DECIMAL}
        </if>
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryCondition"/>
        and isdelete ="N"
        order by createtime desc
        <if test="page != null">
            <if test="page.start != null and page.pageSize != null">
                limit #{page.start},#{page.pageSize}
            </if>
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="EvaluationStandardDataMap">
        select
        <include refid="MyTableColumn"/>
        ,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryColumn"/>
        from t_pe_evaluation_standard where  pkid  =  #{pkid,jdbcType=BIGINT}  and isdelete ="N"
    </select>

    <update id="deleteEvaluationStandardByPrimaryKey" parameterType="java.lang.Long">
        UPDATE t_pe_evaluation_standard SET `isdelete` = 'Y' WHERE `pkid` = #{pkid,jdbcType=BIGINT}
    </update>
    <!--评价标准-->
   <!--评价标准适用范围-->
    <select id="getstandardscopebysid" parameterType="java.lang.Long" resultMap="EvaluationStandardScopeDataMap">
        select  pkid,standardid,scopecode,scopename,createtime,isdelete,description  from t_pe_evaluation_standard_scope where  standardid  =  #{pkid,jdbcType=BIGINT}  and isdelete ="N"
    </select>


    <update id="batchUpdateScopeValues" parameterType="java.util.List">
        <foreach collection="values" item="value" index="index" separator=";">
            UPDATE t_pe_evaluation_standard_scope
            <set>
                <if test="value.standardid != null">
                    standardid =#{ value.standardid ,jdbcType=BIGINT},
                </if>
                <if test="value.scopecode != null">
                    scopecode =#{ value.scopecode ,jdbcType=VARCHAR},
                </if>
                <if test="value.scopename != null">
                    scopename =#{ value.scopename ,jdbcType=VARCHAR},
                </if>
                <if test="value.createtime != null">
                    createtime =#{ value.createtime ,jdbcType=TIMESTAMP},
                </if>
                <if test="value.isdelete != null">
                    isdelete =#{ value.isdelete ,jdbcType=VARCHAR},
                </if>
                <if test="value.description != null">
                    description =#{ value.description ,jdbcType=VARCHAR}
                </if>
                <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataBatchModifyColumn"/>
            </set>
            WHERE pkid = #{val.pkid,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsertScopeValues" parameterType="java.util.List">
        INSERT INTO t_pe_evaluation_standard_scope(
        standardid,
        scopecode,
        scopename,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumn"/>
        )
        VALUES
        <foreach collection="values" item="value" index="index" separator=",">
            (
            #{ value.standardid ,jdbcType=BIGINT },
            #{ value.scopecode ,jdbcType=VARCHAR },
            #{ value.scopename ,jdbcType=VARCHAR },
            <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataBatchInsertColumnValue"/>
            )
        </foreach>
    </insert>
    <!--评价标准适用范围-->
    <!--评价标准明细-->
    <select id="getstandarditembysid" parameterType="java.lang.Long" resultMap="EvaluationStandardItemDataMap">
        select  pkid,standardid,parentid,itemid,groupid,type,itemcode,itemname,datatype,upperlimit,lowerlimit,defaultvalues,scoreinterval,sequencing,createtime,isdelete,description
        from t_pe_evaluation_standard_item where  standardid  =  #{pkid,jdbcType=BIGINT}  and isdelete ="N"
    </select>
    <select id="getstandarditemchildsbysid" parameterType="java.lang.String" resultMap="EvaluationStandardItemDataMap">
        select  pkid,standardid,parentid,itemid,groupid,type,itemcode,itemname,datatype,upperlimit,lowerlimit,defaultvalues,scoreinterval,sequencing,createtime,isdelete,description
        from t_pe_evaluation_standard_item where  parentid =  #{itemcode,jdbcType=VARCHAR}  and isdelete ="N"
    </select>

    <update id="batchUpdateItemValues" parameterType="java.util.List">
        <foreach collection="values" item="value" index="index" separator=";">
            UPDATE t_pe_evaluation_standard_item
            <set>
                <if test="value.standardid != null">
                    standardid =#{ value.standardid ,jdbcType=BIGINT},
                </if>
                <if test="value.parentid != null">
                    parentid =#{ value.parentid ,jdbcType=VARCHAR},
                </if>
                <if test="value.itemid != null">
                    itemid =#{ value.itemid ,jdbcType=BIGINT},
                </if>
                <if test="value.groupid != null">
                    groupid =#{ value.groupid ,jdbcType=BIGINT},
                </if>
                <if test="value.type != null">
                    type =#{ value.type ,jdbcType=VARCHAR},
                </if>
                <if test="value.itemcode != null">
                    itemcode =#{ value.itemcode ,jdbcType=VARCHAR},
                </if>
                <if test="value.itemname != null">
                    itemname =#{ value.itemname ,jdbcType=VARCHAR},
                </if>
                <if test="value.datatype != null">
                    datatype =#{ value.datatype ,jdbcType=INTEGER},
                </if>
                <if test="value.upperlimit != null">
                    upperlimit =#{ value.upperlimit ,jdbcType=DECIMAL},
                </if>
                <if test="value.lowerlimit != null">
                    lowerlimit =#{ value.lowerlimit ,jdbcType=DECIMAL},
                </if>
                <if test="value.defaultvalues != null">
                    defaultvalues =#{ value.defaultvalues ,jdbcType=VARCHAR},
                </if>
                <if test="value.scoreinterval != null">
                    scoreinterval =#{ value.scoreinterval ,jdbcType=DECIMAL},
                </if>
                <if test="value.sequencing != null">
                    sequencing =#{ value.sequencing ,jdbcType=INTEGER},
                </if>
                <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataBatchModifyColumn"/>
            </set>
            WHERE pkid = #{value.pkid,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsertItemValues" parameterType="java.util.List">
        INSERT INTO t_pe_evaluation_standard_item(
        standardid,
        parentid,
        itemid,
        groupid,
        type,
        itemcode,
        itemname,
        datatype,
        upperlimit,
        lowerlimit,
        defaultvalues,
        scoreinterval,
        sequencing,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumn"/>
        )
        VALUES
        <foreach collection="values" item="value" index="index" separator=",">
            (
            #{ value.standardid ,jdbcType=BIGINT },
            #{ value.parentid ,jdbcType=VARCHAR },
            #{ value.itemid ,jdbcType=BIGINT },
            #{ value.groupid ,jdbcType=BIGINT },
            #{ value.type ,jdbcType=VARCHAR },
            #{ value.itemcode ,jdbcType=VARCHAR },
            #{ value.itemname ,jdbcType=VARCHAR },
            #{ value.datatype ,jdbcType=INTEGER },
            #{ value.upperlimit ,jdbcType=DECIMAL },
            #{ value.lowerlimit ,jdbcType=DECIMAL },
            #{ value.defaultvalues ,jdbcType=VARCHAR },
            #{ value.scoreinterval ,jdbcType=DECIMAL },
            #{ value.sequencing ,jdbcType=INTEGER },
            <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataBatchInsertColumnValue"/>
            )
        </foreach>
    </insert>
    <!--评价标准明细-->
    <!--评价标准适用方法-->
    <select id="getstandardmethodbysid" parameterType="java.lang.Long" resultMap="EvaluationStandardMethodologyDataMap">
        select  pkid,standardid,methodologycode,methodologyname,createtime,isdelete,description  from t_pe_evaluation_standard_methodology where  pkid  =  #{pkid,jdbcType=BIGINT}  and isdelete ="N"
    </select>

    <update id="updateMethodoValues" parameterType="com.qhzk.pe.data.EvaluationStandardMethodologyData">
        UPDATE t_pe_evaluation_standard_methodology
        <set>
            <if test="val.standardid != null">
                standardid =#{ val.standardid ,jdbcType=BIGINT},
            </if>
            <if test="val.methodologycode != null">
                methodologycode =#{ val.methodologycode ,jdbcType=VARCHAR},
            </if>
            <if test="val.methodologyname != null">
                methodologyname =#{ val.methodologyname ,jdbcType=VARCHAR},
            </if>
            <if test="val.createtime != null">
                createtime =#{ val.createtime ,jdbcType=TIMESTAMP},
            </if>
            <if test="val.isdelete != null">
                isdelete =#{ val.isdelete ,jdbcType=VARCHAR},
            </if>
            <if test="val.description != null">
                description =#{ val.description ,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE pkid = #{val.pkid,jdbcType=BIGINT}
    </update>
    <insert id="insertMethodoValues" parameterType="com.qhzk.pe.data.EvaluationStandardMethodologyData">
        INSERT INTO t_pe_evaluation_standard_methodology(
        standardid,
        methodologycode,
        methodologyname,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumn"/>
        )
        VALUES
        (
            #{ value.standardid ,jdbcType=BIGINT },
            #{ value.methodologycode ,jdbcType=VARCHAR },
            #{ value.methodologyname ,jdbcType=VARCHAR },
            <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumnValue"/>
         )
    </insert>
    <!--评价标准适用方法-->
    <update id="updateByPrimaryKey" parameterType="com.qhzk.pe.data.EvaluationStandardData">
        UPDATE t_pe_evaluation_standard
        <set>
            <if test="standardcode != null">
                standardcode =#{ standardcode ,jdbcType=VARCHAR},
            </if>
            <if test="standardname != null">
                standardname =#{ standardname ,jdbcType=VARCHAR},
            </if>
            <if test="standardtype != null">
                standardtype =#{ standardtype ,jdbcType=VARCHAR},
            </if>
            <if test="createdate != null">
                createdate =#{ createdate ,jdbcType=TIMESTAMP},
            </if>
            <if test="standardversion != null">
                standardversion =#{ standardversion ,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status =#{ status ,jdbcType=VARCHAR},
            </if>
            <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataModifyColumn"/>
        </set>
        WHERE pkid =  #{pkid,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.qhzk.pe.data.EvaluationStandardData" useGeneratedKeys="true" keyProperty="pkid">
        INSERT INTO t_pe_evaluation_standard(
        standardcode,
        standardname,
        standardtype,
        createdate,
        standardversion,
        status,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumn"/>
        )
        VALUES
        (
        #{ standardcode ,jdbcType=VARCHAR },
        #{ standardname ,jdbcType=VARCHAR },
        #{ standardtype ,jdbcType=VARCHAR },
        #{ createdate ,jdbcType=TIMESTAMP },
        #{ standardversion ,jdbcType=DECIMAL },
        #{ status ,jdbcType=VARCHAR },
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumnValue"/>
        )
    </insert>

    <delete id="batchRealDeleteInfo" parameterType="java.lang.String">
        delete from t_pe_evaluation_standard where pkid
        IN (
        <foreach collection="infos" item="infoid" index="index" separator=",">
            #{ infoid,jdbcType=BIGINT }
        </foreach>
        )
    </delete>

    <select id="getEvalstandardByMeanAndScope"  parameterType="java.lang.String" resultMap="EvaluationStandardDataMap">
       select
               s.pkid,s.standardcode,s.standardname,s.standardtype,s.createdate,s.standardversion,s.status,s.createtime,s.isdelete,s.description
        from t_pe_evaluation_standard s
        left join  t_pe_evaluation_standard_scope p  on  p.standardID = s.pkid
        left join  t_pe_evaluation_standard_methodology m on  m.standardID = s.pkid
        where
            s.status = "1"
        and s.isdelete ="N"
        and p.scopeCode =#{ scope ,jdbcType=VARCHAR }
        and m.methodologyCode =#{ mean ,jdbcType=VARCHAR }
        group by s.pkid
        order by s.pkid desc
    </select>
</mapper>
