<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhzk.pe.mapper.TaskSpecimenCustomMapper">
    <resultMap id="TaskSpecimenDataMap" type="com.qhzk.pe.data.TaskSpecimenData"
               extends="com.qhzk.pe.mapper.BaseDataMapper.BaseDataMappingColumn">
        <result column="taskid" jdbcType="BIGINT" property="taskid"/>
        <result column="specimenid" jdbcType="BIGINT" property="specimenid"/>
        <result column="specode" jdbcType="VARCHAR" property="specode"/>
        <result column="spename" jdbcType="VARCHAR" property="spename"/>
    </resultMap>
    <sql id="MyTableColumn">
    taskid,specimenid,specode,spename
    </sql>
    <select id="countTaskSpecimenPageInfo" parameterType="java.lang.String" resultType="java.lang.Long">
        select count(*) from t_pe_task_specimen where pkid is not null
        <if test="value.taskid != null">
            and taskid like CONCAT('%', #{ value.taskid ,jdbcType=BIGINT } ,'%')
        </if>
        <if test="value.specimenid != null">
            and specimenid like CONCAT('%', #{ value.specimenid ,jdbcType=BIGINT } ,'%')
        </if>
        <if test="value.specode != null">
            and specode like CONCAT('%', #{ value.specode ,jdbcType=VARCHAR } ,'%')
        </if>
        <if test="value.spename != null">
            and spename like CONCAT('%', #{ value.spename ,jdbcType=VARCHAR } ,'%')
        </if>
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryCondition"/>
    </select>
    <select id="queryTaskSpecimenPageInfo" parameterType="java.lang.String" resultMap="TaskSpecimenDataMap">
        select
        <include refid="MyTableColumn"/>
        ,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryColumn"/>
        from t_pe_task_specimen
        where pkid is not null
        <if test="value.taskid != null">
            and taskid like CONCAT('%', #{ value.taskid ,jdbcType=BIGINT } ,'%')
        </if>
        <if test="value.specimenid != null">
            and specimenid like CONCAT('%', #{ value.specimenid ,jdbcType=BIGINT } ,'%')
        </if>
        <if test="value.specode != null">
            and specode like CONCAT('%', #{ value.specode ,jdbcType=VARCHAR } ,'%')
        </if>
        <if test="value.spename != null">
            and spename like CONCAT('%', #{ value.spename ,jdbcType=VARCHAR } ,'%')
        </if>
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryCondition"/>
        order by createtime desc
        <if test="page != null">
            <if test="page.start != null and page.pageSize != null">
                limit #{page.start},#{page.pageSize}
            </if>
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="TaskSpecimenDataMap">
        select
        <include refid="MyTableColumn"/>
        ,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataQueryColumn"/>
        from t_pe_task_specimen where pkid =  #{pkid,jdbcType=BIGINT} and isdelete ="N"
    </select>

    <update id="deleteLogicByPrimaryKey" parameterType="java.lang.Long">
        UPDATE t_pe_task_specimen SET `isdelete` = 'Y' WHERE `pkid` = #{pkid,jdbcType=BIGINT}
    </update>

    <update id="batchUpdateValues" parameterType="java.util.List">
        <foreach collection="values" item="value" index="index" separator=";">
            UPDATE t_pe_task_specimen
            <set>
                <if test="value.taskid != null">
                    taskid =#{ value.taskid ,jdbcType=BIGINT},
                </if>
                <if test="value.specimenid != null">
                    specimenid =#{ value.specimenid ,jdbcType=BIGINT},
                </if>
                <if test="value.specode != null">
                    specode =#{ value.specode ,jdbcType=VARCHAR},
                </if>
                <if test="value.spename != null">
                    spename =#{ value.spename ,jdbcType=VARCHAR},
                </if>
                <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataBatchModifyColumn"/>
            </set>
            WHERE pkid = #{value.pkid,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsertValues" parameterType="java.util.List">
        INSERT INTO t_pe_task_specimen(
        taskid,
        specimenid,
        specode,
        spename,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumn"/>
        )
        VALUES
        <foreach collection="values" item="value" index="index" separator=",">
            (
            #{ value.taskid ,jdbcType=BIGINT },
            #{ value.specimenid ,jdbcType=BIGINT },
            #{ value.specode ,jdbcType=VARCHAR },
            #{ value.spename ,jdbcType=VARCHAR },
            <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataBatchInsertColumnValue"/>
            )
        </foreach>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.qhzk.pe.data.TaskSpecimenData">
        UPDATE t_pe_task_specimen
        <set>
            <if test="taskid != null">
                taskid =#{ taskid ,jdbcType=BIGINT},
            </if>
            <if test="specimenid != null">
                specimenid =#{ specimenid ,jdbcType=BIGINT},
            </if>
            <if test="specode != null">
                specode =#{ specode ,jdbcType=VARCHAR},
            </if>
            <if test="spename != null">
                spename =#{ spename ,jdbcType=VARCHAR},
            </if>
            <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataModifyColumn"/>
        </set>
        WHERE pkid =  #{pkid,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.qhzk.pe.data.TaskSpecimenData" useGeneratedKeys="true" keyProperty="pkid">
        INSERT INTO t_pe_task_specimen(
        taskid,
        specimenid,
        specode,
        spename,
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumn"/>
        )
        VALUES
        (
        #{ taskid ,jdbcType=BIGINT },
        #{ specimenid ,jdbcType=BIGINT },
        #{ specode ,jdbcType=VARCHAR },
        #{ spename ,jdbcType=VARCHAR },
        <include refid="com.qhzk.pe.mapper.BaseDataMapper.BaseDataInsertColumnValue"/>
        )
    </insert>

    <delete id="deleteRealByPrimaryKey" parameterType="java.lang.Long">
        delete from t_pe_task_specimen where pkid =  #{pkid,jdbcType=BIGINT}
    </delete>

    <update id="batchLogicDeleteInfo" parameterType="java.lang.String">
        UPDATE t_pe_task_specimen SET `isdelete` = 'Y' WHERE `pkid`
        IN (
        <foreach collection="infos" item="infoid" index="index" separator=",">
            #{infoid,jdbcType=BIGINT}
        </foreach>
        )
    </update>

    <delete id="batchRealDeleteInfo" parameterType="java.lang.String">
        delete from t_pe_task_specimen where pkid
        IN (
        <foreach collection="infos" item="infoid" index="index" separator=",">
            #{ infoid,jdbcType=BIGINT }
        </foreach>
        )
    </delete>

    <select id="selectByTaskid" parameterType="java.lang.Long" resultMap="TaskSpecimenDataMap">
        select  pkid, taskid, specimenid, specode, spename, createtime,isdelete, description  from t_pe_task_specimen where  taskid  =  #{pkid,jdbcType=BIGINT}  and isdelete ="N"
    </select>
</mapper>
