<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhzk.as.mapper.RoleMapper">
    <resultMap id="RoleMap" type="com.qhzk.as.entity.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="seq" jdbcType="VARCHAR" property="seq"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="operatetime" jdbcType="TIMESTAMP" property="operatetime"/>
    </resultMap>
    <sql id="RoleColumn">
        id,name,status,remark,seq,creator,createtime,operator,operatetime
    </sql>

    <select id="queryRolesByRId"  resultMap="RoleMap">
        SELECT
            r.id,r.name,r.status,r.remark,r.seq,r.creator,r.createtime,r.operator,r.operatetime
        FROM
            t_as_ugroup_role u
            LEFT JOIN t_as_role r ON r.id = u.roleid
        WHERE
            u.ugroupid = #{ ugroupid, jdbcType=BIGINT }

        ORDER BY
            r.seq,
            r.createtime
    </select>
</mapper>
