<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhzk.as.mapper.RoleUserMapper">
    <resultMap id="RoleUserMap" type="com.qhzk.as.entity.RoleUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="userid" jdbcType="BIGINT" property="userid"/>
        <result column="roleid" jdbcType="BIGINT" property="roleid"/>
        <result column="seq" jdbcType="VARCHAR" property="seq"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="operatetime" jdbcType="TIMESTAMP" property="operatetime"/>
    </resultMap>
    <sql id="RoleUserColumn">
        id,userid,roleid,seq,creator,createtime,operator,operatetime
    </sql>

    <select id="getUserRolesByUid" parameterType="java.lang.Long"  resultMap="com.qhzk.as.mapper.RoleMapper.RoleMap">
        SELECT
        r.id,r.name,r.status,r.remark,r.seq,r.creator,r.createtime,r.operator,r.operatetime
        FROM t_as_role_user u
        LEFT JOIN t_as_role r on  r.id = u.roleid
        WHERE u.userid =   #{ id, jdbcType=BIGINT }
    </select>
    <select id="getUserGroupRolesByUid" parameterType="java.lang.Long"  resultMap="com.qhzk.as.mapper.RoleMapper.RoleMap">
        SELECT
        r.id,r.name,r.status,r.remark,r.seq,r.creator,r.createtime,r.operator,r.operatetime
        FROM t_as_user_ugroup ug
        LEFT JOIN t_as_ugroup g on g.id = ug.ugroupid
        LEFT JOIN t_as_ugroup_role gr on  gr.ugroupid = g.id
        LEFT JOIN t_as_role r on  r.id = gr.roleid
        WHERE ug.userid = #{ id, jdbcType=BIGINT }
    </select>
</mapper>
